body {
margin: 0;
width: 100wh;
height: 100%;
background: linear-gradient(#92DDC2 0%, #544E94 100%);
padding-top: 24%;
padding-bottom: 26%;
font-family: 'Raleway', sans-serif;
}

.box {
width: 375px;
height: 667px;
background: #0A0171;
border-radius: 30px;
box-shadow: 30px 30px 35px 0px #0A01714D;
text-align: center;
margin: 0 auto;
color: white;
border: 1px white solid;
box-sizing: border-box;
}

.il {
  width: 177px;
  height: 158px;
  margin-top: 92px;
  margin-bottom: 51px;
}

h3 {
  margin: 0;
  font-size: 20px;
}

p { 
  margin: 0;
  padding-top: 27px;
  padding-bottom: 24px;
  font-size: 16px;
}

input {
  margin-bottom: 16px;
  width: 335px;
  height: 58px;
  border-radius: 20px;
  border: 1px white solid;
  background: #0A0171;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: 30px 30px 35px 0px #0A01714D;
  font-size: 14px;
}

#login {
  border: 0;
  background: #2BC990;
  padding: 0;
  margin-top: 9px;
  box-shadow: none;
  font-weight: 700;
  font-size: 20px;
}